#imageleft {
	width:700px;
	height:auto;
	margin-top: 130px;
}

#myNavbar{
float: right;
}

a:hover {
	border-bottom: solid 2px white;
}

.logotop {
	height: 30px;
	width: auto;
	margin-top: 10px;
}

.rightcol {
	padding-right: 200px;
	padding-left: 50px;
	margin-top: 120px;
	font-family: 'Ubuntu', sans-serif;
}

.btn {
margin-left: 200px;
margin-top: 40px;
}

p {
	font-size: 16px;
}

ul li {
	font-size: 16px;
}

/* --------------------------- */


/* col-lg- */
@media (max-width: 2000px) {
body {
	font-size: 1.3em;
}
}


/* col-md- */
@media (max-width: 1199px) {
body {
	font-size: 1.2em;
}
}

/* col-sm- */
@media (max-width: 991px) {
body {
	font-size: 1em;
}
}

/* col-xs- */
@media (max-width: 767px) {
body {
	font-size: 0,9em;
}

}
